<%- include('../partials/header') %> 
    <title>Branch Data</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Branch Data</h1>
    <a href="/add/branch" class="btn btn-success btn ">Add</a>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Location</th>
                    <th>IFSC Code</th>
                    <th>Bank Code</th>
                </tr>
                <%
                if(sampleData.length > 0)
                {
                    sampleData.forEach(function(data){
                %>
                <tr>
                    <td><%= data.Location %></td>
                    <td><%= data.IFSCCode %></td>
                    <td><%= data.BankCode %></td>
                    <td>
                                    <a href="/customer/edit/<%= data.SSN %>" class="btn btn-primary btn">Edit</a>
                                    <a href="/customer/delete/<%= data.SSN %>" class="btn-danger btn">Delete</a>
                    </td>
                </tr>
                <%
                    });
                 }
                %>
            </table>
        </div>
    </div>
</body>
</html>